body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

html, body {
  height: 100%;
}

.plyr {
  width: 100%;
  height: auto;
}

/* Responsive design */
@media (max-width: 768px) {
  .plyr {
    border-radius: 0;
  }
}
